# Konfigurasi Database PostgreSQL
POSTGRES_USER=simak_user
POSTGRES_PASSWORD=simak_password
POSTGRES_DB=simak_vokasi
POSTGRES_PORT=5433

# Konfigurasi Backend
BACKEND_PORT=3000
DATABASE_URL=postgresql://simak_user:simak_password@db:5432/simak_vokasi
JWT_SECRET=simak_vokasi_secret_key_123456
CORS_ORIGIN=*

# Konfigurasi Frontend
FRONTEND_PORT=8080
